
<html>
    <head>
        <title>Registration Form</title>
    </head>
<body>
{% if not user.is_authenticated %}
<div id="registration-page-content" class="">
    <!--<div class="messaging_system"><span>Messaging System</span></div>-->
    <div class="messaging_system-page-title">Messaging System</div>
    <div id="registration_form" class="messaging_system-form">

        <form method="post" class="post-form">{% csrf_token %}

            <p class="form-title"> Please enter your Details to Register </p>
            <p class="form-errors">{{ form.username.errors.as_text }}</p>
            <div id="username_textbox">
                {{ form.username.label_tag }}
                <!--<input class="form-control" id="username" maxlength="30" name="{{ form.username.html_name }}" value="username" type="text" />-->
                {{ form.username }}
            </div>
            <p class="form-errors">{{ form.email.errors.as_text }}</p>
            <div id="email_textbox">
                {{ form.email.label_tag }}
                <!--<input class="form-control" id="username" maxlength="30" name="{{ form.username.html_name }}" value="username" type="text" />-->
                {{ form.email }}
            </div>
            {% if not form.email.errors and not form.username.errors%}
                <p class="form-errors">{{ form.password.errors.as_text }}</p>
            {% endif %}
            <div id="password_textbox">
                {{ form.password.label_tag }}
                <!--<input class="form-control" id="password" maxlength="30" name="{{ form.password.html_name }}" value="password" type="hidden" />-->
                {{ form.password }}
            </div>
            {% if not form.email.errors and not form.username.errors%}
                <p class="form-errors">{{ form.confirm_password.errors.as_text }}</p>
            {% endif %}
            <div id="confirm_password_textbox">
                {{ form.confirm_password.label_tag }}
                <!--<input class="form-control" id="password" maxlength="30" name="{{ form.password.html_name }}" value="password" type="hidden" />-->
                {{ form.confirm_password }}
            </div>

            <input type="submit" value="Sign Up" />

        </form>

    </div>
</div>
{% endif %}
</body>
</html>

<script>
    $("#confirm_password_textbox").change( function () {
        password = $("#password").val();
        confirm_password = $(this).val();
        if(password != confirm_password){
            alert("passwords not match');
    });
</script>