{% extends 'messaging_system/base.html' %}

{% block content %}
        <div>
            <h2><a href="{% url 'home_page' %}">go to home page</a></h2>
        </div>
        <div>
            <h1><u>User messages:</u></h1>
        </div>

        <section id="user-messages">
            <table>
                <tr>
                    <th>Subject</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Creation date</th>
                    <th>Content</th>
                    <th> Read Message </th>
                </tr>

                {% for message in messages %}
                <tr id="message_{{ message.pk }}">
                    <td><a href="{% url 'show_message' pk=message.pk %}">{{ message.subject }}</a></td>
                    <td>{{ message.sender }}</td>
                    <td>{{ message.receiver }}</td>
                    <td>{{ message.creation_date }}</td>
                    <td>{{ message.content }}</td>
                    <td> {{ message.read_message }} </td>
                </tr>
                {% endfor %}
            </table>
        </section>
{% endblock %}